doctype html
head
    meta(charset="utf-8")
    link(href="stylesIndex.css" rel="stylesheet")
    link(href="stylesBase.css" rel="stylesheet")
    link(href="stylesHeader.css" rel="stylesheet")
    block title
body
    header
        img(src="https://s3-alpha-sig.figma.com/img/ef67/7629/b96f764b32e927f3f6a099bb38e0b3fb?Expires=1633910400&Signature=Fybp05FvLH-k-03xZ3zAXhjrIO1bYvWOr0AyssY1KYeRCTRYQ53mWSAYDNhqvH~jNZx4zS0tpORLpoYgUqpRSZRIvcBYLDoODVUYbO6bZd~thWkzafcqJF~EThwui3DAN5Zp5MWkDjyvARsLJ-NQqbOiHQV2xd~QZ5z36KAmD5LTaVTAUEWSZFMOy1yOZgqIxeyKMcW2ZVXPrBx8tTW~I1kYQQmlCtCYDi~QyjvXbWBHxCRM~gbg9hFAlJCbfs8vuD33sH06hLpo9FtzwJhWnhlTvpXGzSAEWoGLCW6ONygFSeI7mN1EjX~JJol4pDm3dWsOGnwxEvAFAxxUT7C72w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA")
        nav
            ul
                li 
                    a(href="index.pug") Accueil 
                li
                    a(href="quiSommeNous.pug") Qui sommes sous ?
                li 
                    a(href="services.pug") Nos Services
    block main
footer 
    p 
        | Be Biker Services
        | 143, avenue de Versailles
        | 75016 Paris
        | contact@bebiker.fr
        | 01.23.45.67.80
    nav
        ul
            li
                a(href="index.pug") Accueil 
            li
                a(href="quiSommeNous.pug") Qui sommes sous ?
            li 
                a(href="services.pug") Services
