extends ./base.pug

block title
    title Be Biker
block main
    div(class="firstDiv")
        h2 Nous prenons soin de votre vélo
        img(src="https://s3-alpha-sig.figma.com/img/9827/52d9/27b8027643c7843d00845b1c3d02775c?Expires=1633910400&Signature=emGDq6OYXv8lryT6ASK7szBlFlmdvECGBz-zWEixQxqUxy2IQvyWYLAF03rKf~dKisDMTDSJgo95R31tC79PhR11ADyZNNgrTEdsqsTRTb7WMdZ6EZSeJ86V5c7pdmk6hdqctDqn~GkXfcalbh4nTJxWT-FIh0QGi~rhSTG~DhzNmihysteZXOmxF-EPAPYOApGL6Dnd4SiDbjzDPK4jOVlAo5P36CaEuYph-HiqsB4DYfN5KdRtk8tlgxQvL2ThK6IQjA4zqfyrwLxlJd8Q5A7gNMxgbRiJ9Wzp~RwhrryztsAuSHP5JQaP3kGloVBNefJ~FVLFdKFvYSn0iI5lbw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA")
    div(class="secondDiv")
        div(class="secondDiv_LinkSoinVelo")
            h3 Nous aimons le vélo
            p Au-delà de l’objet, le vélo est pour nous une philosophie, un art de vivre. Vous pouvez nous faire confiance.
            a(href="") En savoir plus
        div(class="secondDiv_LinkAtelier")
            h3 Un atelier professionnel
            p C’est dans notre atelier que nous réparons les vélos de nos clients et que nous testons les nouveaux produits. Aucun détail ne nous échappe.
            a(href="") En savoir plus
        div(class="secondDiv_List")
            ul
                li 
                    h4 Service à Domicile
                    p Nous nous déplaçons pour récupérer et vous ramener votre vélo réparé chez vous, en nous adaptant à vos disponibilités.
                li 
                    h4 Service Client
                    p Un service client à votre écoute pour vous conseiller par téléphone et vous recevoir en atelier.
                li 
                    h4 Service Express
                    p Vous avez besoin que votre vélo soit en état de rouler demain , C'est possible.
                li 
                    h4 Autres services
                    p Nous nous déplaçons pour récupérer et vous ramener votre vélo réparé chez vous, en nous adaptant à vos disponibilités.
            a(href="") En savoir plus
    div(class="thirdDiv")
        img(alt="image velo1" src="https://s3-alpha-sig.figma.com/img/41b3/10db/2f74b173a1d3650af0259521f0a71ca9?Expires=1633910400&Signature=HioOoWJFBHBlu0fjjlFewmiK8S~k6Dz~wUZbgzw3X1WD4hABay9TJz3Ej7HZWCfult6ZiZuLZqt6Bq4~sD8R0PJiOGH14wDkPdmnvi8-PKTFA9eJKi5uRCinvwQ2MCBBC9mijku2h91afczPky6rJmIx4HjireZUXlRR~VVbKdBqVbnfuYZuCul13726-C1UiUIYW6BeaDAIQx-cFGMtFRMpwbOT4kzdWuA6SFjRishZppCKwWhtao6TbHW665L9ycNA374qj1aCh38J-EsFgsTjyjt7Lpnx4EHYafl3MOnu05z7V-92GrgyOIllsu5w8Sw0TdeMszitx~W65vNa3g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA")
        img(alt="image velo2" src="https://s3-alpha-sig.figma.com/img/babf/05f3/b20a2ace742bf1344a37fa0dd140bf82?Expires=1633910400&Signature=JC4jFXtAVyJUKmiipk9Mgb1Le4-puYCy~629M2eK5wejCZZHeTdDGLzBVRpjOIGiezG1t9a9XaUIvneOEAAeeJngNRsAkb-G4Al6CitXISAdB8zNMalrSn6mkeag3t~6Dxx-e4qIsAb5aoX-ren2S0i3OFMac3B7NXH8mt5jrZnGtQzlYkFqjuRsqeoRca5IRwk0k37qc55HxQBbLBcbAB3EFzYOJL3WWx80LtpdKaYKH8XoSOVGmWcsgyTtigbqTCU2IFYz5JHa~JCpXjKPSyjjHRCBA8qRJyIkiimZ-wLBBGgeHAJ8mF1WuA377cqnLNzywIAdsPQhXFk8zvmvow__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA")
        img(alt="image velo3" src="https://s3-alpha-sig.figma.com/img/9743/984a/caa668e50b893ad5b663de398e3b91c0?Expires=1633910400&Signature=h19qGvXCnApKUr4Y8VKwtVD~-aOYnbDAo~6fqOxCuQ3u4VxWBkngxTQBVnf-IbNshqZdvRLoRfcOMaFM2pUozHXoV2bGSSktaRcy4mofuqTnY4HdLd5c1jK25Tqqv4jU2XijiPNdsQtMFdQnbtvm5s7ornbWRHGl5VGuQYP0ibaxqd3gXQXgvJZGAT3iETBeII~G47~YPLGpXDzxFCS7LUxF0Z1S7dD3llYCiKQwO5cnytJuCbhzDPWQkUPW7oEy6YsjTUw-7M4dBA4f8K5aDBs9SJPpJjvNJ0JXrch2mQLp9JRCc7RKTMpheblQGzpwKwv6F0EGCX~QSTeHeokPhw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA")
