extends ./base.pug

block title
    title Be Biker
block main
    div(class="firstDiv")
        h2 Nous prenons soin de votre vélo
        div(class="firstDivImgWrapper")
            img(src="./img/velo.jpg")
    div(class="secondDiv")
        div(class="secondDiv_LinkSoinVelo")
            div(class="secondDiv_LinkSoinVelo_left")
                h3 Nous aimons le vélo
                p Au-delà de l’objet, le vélo est pour nous une philosophie, un art de vivre. Vous pouvez nous faire confiance.
                a(href="") En savoir plus
            div(class="secondDiv_image")
                img(alt="image velo2" src="./img/homme.png")
        div(class="secondDiv_LinkAtelier")
            div(class="secondDiv_LinkAtelier_left")
                h3 Un atelier professionnel
                p C’est dans notre atelier que nous réparons les vélos de nos clients et que nous testons les nouveaux produits. Aucun détail ne nous échappe.
                a(href="") En savoir plus
            div(class="secondDiv_image")
                img(alt="image velo2" src="./img/zoom-velo.png")
        div(class="secondDiv_List")
            ul
                li 
                    div(class="vector vector--gps")
                    div(class="grey-separator")
                    h4 Service à Domicile
                    p Nous nous déplaçons pour récupérer et vous ramener votre vélo réparé chez vous, en nous adaptant à vos disponibilités.
                li 
                    div(class="vector vector--user")
                    div(class="grey-separator")
                    h4 Service Client
                    p Un service client à votre écoute pour vous conseiller par téléphone et vous recevoir en atelier.
                li 
                    div(class="vector vector--watch")
                    div(class="grey-separator")
                    h4 Service Express
                    p Vous avez besoin que votre vélo soit en état de rouler demain , C'est possible.
                li 
                    div(class="vector vector--tool")
                    div(class="grey-separator")
                    h4 Autres services
                    p Nous nous déplaçons pour récupérer et vous ramener votre vélo réparé chez vous, en nous adaptant à vos disponibilités.
            a(href="") En savoir plus
    div(class="thirdDiv")
        div(class="thirdDivImgWrapper")
            img(alt="image velo1" src="./img/lampe.jpg")
        div(class="thirdDivImgWrapper")
            img(alt="image velo2" src="./img/velo-2.jpg")
        div(class="thirdDivImgWrapper")
            img(alt="image velo3" src="./img/velo-3.jpg")
