extends ./base.pug

block title
    title Be Biker
block main
    div(class="title")
        h2 Nos services
        p Retrouvez ci-dessous 'lensemble de nos services. N'Hésitez pas à nous contacter si vous avez besoin d'informations supplémentaires.
    div(class="NosServices")
        div(class="nosServices__domicile")
            div(class="nosServices__domicile_left")
                div(class="vector vector--gps")
                h4 A domicile
                p Il n'est pas toujours aisé de pouvoir apporter soi-même son vélo dans un atelier pour le faire réparer.C'est pourquoi nous vous proposons un service à domicile.Nous fixons un rendez-vous afin de venir récupérer votre vélo chez vous, et vous le ramener lorsque celui-ci sera prêt.
            div(class="nosServices__image")
                img(src="img/nosServiceHiddenVelo.jpeg")
        div(class="nosServices__supportClient")
            div(class="nosServices__supportClient_left")
                div(class="vector vector--user")
                h4 Support client
                p Notre équipe est à votre service.Par téléphone du lundi au samedi (8h / 20h) au 01.23.45.67.89 ou directement à l'atelier du lundi au samedi entre 9h et 18h. N'hésitez pas à téléphoner ou passer nous voir.
            div(class="nosServices__image")
                img(src="./img/nosServiceHiddenDude.jpeg")
        div(class="nosServices__serviceExpress")
            div(class="vector vector--watch")
            h4 Service express
            p Une sortie prévue ce week-end,mais vous aviez oublié que votre vélo a besoin d'une petite réparation ? Pas de problème, nous pouvons intervenir afin que votre vélo soit en état de rouler dans les 24h.
        div(class="nosServices__atelier")
            div(class="vector vector--tool")
            h4 L'atelier
            p Notre atelier est à la pointe.Nous pouvons vous faire essayer divers vélos et équipements et vous apporter tous les conseils nécessaires à votre pratique du cyclisme.Peu importe votre niveau ou vos envies, nos expert auront les réponses à toutes vos questions.

    script(type='text/javascript').
        document.getElementById("services").classList.add("active");