html{
    --primary:#39D6C0;
    --primary-dark:#18776A;
    --grey-light:#F5F5F5;
    --header-grey:rgba(255,255,255,25%);
}

body{
    font-family: 'Pathway Gothic One', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin:0;
}

footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding:1.4em;
    padding-bottom: 2em;
    padding-top:2em;
    gap:2em;
}

footer p{
    font-style: italic;
    margin:0;
    color:white;
    line-height: 1.5em;
}

footer ul{
    margin: 0;
    padding:0;
}

footer li{
    margin-top: 1rem;
}

footer a{
    color:var(--primary);
}

footer a:hover{
    color:white;
}

/* tablette */

@media (min-width:768px)
{

footer{
    display: flex;
    flex-direction: row;
    padding:2em;
    padding-top: 1.4em;
    padding-bottom: 6em;
    gap:0;
}

footer nav{
    width:50%;
}

footer p{
    width: 50%;
}

}

/* ordinateur */

@media (min-width:1280px)
{

footer{
    padding:6em;
    padding-top: 2em;
    padding-bottom: 6em;
}

footer nav{
    width:50%;
}

footer p{
    width: 50%;
}

}