.title p{
    margin:0;
    padding-left : 1rem;
    padding-right : 1.5rem;
    padding-bottom : 3rem;
}

.nosServices__image{
    display:none;
}

.NosServices h4{
    font-size: 1.5em;
}

.nosServices__domicile{
    margin-top:3rem;
    margin-left:2rem;
    margin-right:3rem;
}

.nosServices__supportClient{
    margin-top:3rem;
    margin-left:2rem;
    margin-right:3rem;
}

.nosServices__serviceExpress{
    margin-top:3rem;
    margin-left:2rem;
    margin-right:3rem;
}
.nosServices__atelier{
    margin-top:3rem;
    margin-left:2rem;
    margin-right:3rem;
    margin-bottom:4rem;
}



@media (min-width:768px){
    .title{
        text-align: center;
    }

    .NosServices{
        padding:2em;
        gap: 2em;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: space-between;
    }

    .nosServices__image{
        display:block;
        width: 100%;
        max-height: 330px;
        max-width: 300px;
    }

    .NosServices img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .nosServices__domicile{
        margin:0;
        max-width:100%;
        display: flex;
        flex-direction: row;
        gap: 1.5em;
    }

    .nosServices__supportClient{
        margin:0;
        max-width:100%;
        display: flex;
        flex-direction: row-reverse;
        gap: 1.5em;
    }

    .nosServices__supportClient_left{
        display: flex;
        flex-direction: column;
    }

    .nosServices__serviceExpress{
        margin:0;
        max-width:calc(50% - 1em);
    }

    .nosServices__atelier{
        margin:0;
        max-width:calc(50% - 1em);
    }
}

@media (min-width:1280px){

    .nosServices__domicile{
        gap: 4em;
        margin-right: 12rem;
        margin-left: 6em;
    }

    .nosServices__supportClient{
        gap: 1.5em;
        margin-right: 6rem;
        margin-left: 12rem;
    }

    .nosServices__image{
        display:block;
        width: 100%;
        max-height: 280px;
        max-width: 300px;
    }

    .nosServices__serviceExpress{
        max-width: calc(50% - 5em);
        margin-left: 4rem;
    }

    .nosServices__atelier{
        max-width: calc(50% - 5em);
        margin-right: 4rem;
    }

}

